{% extends "base.html" %}
{% block content %}

  {% for m in metrics %}
    <div class="metric">
      {% for name, value in m.items() %}
          <h2>{{ name }}</h2>
          <p class="value">{{ value }}</a></p>
      {% endfor %}
    </div>
  {% endfor %}

<div id="wip_data">
<table>
	<tr>
	{% for header in headers %}
		<th>{{ header }}</th>
	{% endfor %}
	</tr>

	{% for row in wip_data %}
	<tr class="{{ loop.cycle('odd', 'even') }}">
		{% for field in row %}
		<td>
			<!-- {{ loop.counter }} -->
			{% if loop.index0 == 0 %}
            <img src="http://djaapaadm1.ddtc.cmgdigital.com:5150/browse/{{ field }}" />
			<a href="https://jira.cmgdigital.com/browse/{{ field }}">
			{% endif %}
			{{ field }}
			{% if loop.index0 == 0 %}
			</a>
			{% endif %}		
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
</div>

{% endblock content %}
